<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="FC09B97D-CED2-41F8-8A87-5999F6B297BA" Version="{{ .Version }}" Language="1033" Name="{{ .ProjectName }}" Manufacturer="Rayo Authors">
        <Package InstallerVersion="300" Compressed="yes"/>
        <Media Id="1" Cabinet="rayo.cab" EmbedCab="yes" />

        <!-- Directory structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLDIR" Name="{{ .ProjectName }}">
                    <Component Id="RayoBinary" Guid="87D5D89C-E829-436C-8EF3-6253093D7986">
                        <File Id="RayoExe" Source="rayo.exe" KeyPath="yes" />
                    </Component>
                    <Component Id="RayocBinary" Guid="41E3687B-1643-494A-B926-A881AE5C8E59">
                        <File Id="RayocExe" Source="rayoc.exe" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <DirectoryRef Id="TARGETDIR">
             <Component Id="EnvPath" Guid="B649DF0A-ABCF-43A9-976D-5C1F50D2509A">
                <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="yes" />
             </Component>
        </DirectoryRef>

        <!-- Features to install -->
        <Feature Id="MainFeature" Title="Rayo" Level="1">
            <ComponentRef Id="RayoBinary" />
            <ComponentRef Id="RayocBinary" />
            <ComponentRef Id="EnvPath" />
        </Feature>

        <!-- UI -->
        <!-- Note: This requires WixUIExtension -->
        <!-- <UIRef Id="WixUI_InstallDir" /> -->
        <!-- <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" /> -->
    </Product>
</Wix>
